{% extends "base.html" %}

{% block content %}

    <div>
        <div class="govuk-width-container">

            {{ spacing.tiny() }} {{ links.back(caption="Back", href="/") }}

            {% if ca_user %}
                {% if ca_user.nickname %}
                    {% set user = 'Welcome ' + ca_user.nickname + ', your shopping list awaits you.' %}
                {% else %}
                    {% set user = 'Welcome ' + ca_user.username + ', your shopping list awaits you.' %}
                {% endif %}
            {% endif %}

            {{ spacing.small() }} {{ heading.three(user) }}


                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Item Description</th>
                        <th class="govuk-table__header govuk-table__header--numeric"
                            scope="col">Budgeted Cost
                        </th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    {% for item in products %}

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{item.item}}
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                &pound;{{ "{:,}".format(item.price)}}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            {{ spacing.small() }} {{ buttons.primary(caption="Logout", href="logout") }}
        </div>

    </div>

{% endblock %}