{% macro footer() %}

    <section>

        <footer class="page__footer">

            <div class="wrapper narrow">
                <div class="group">
                    <div class="col-12">
                        <span class="pluto">This release is in development. Your <a
                                href="mailto:Register@ons.gov.uk?Subject=User%20feedback"> feedback</a> will help us improve it.</span>
                    </div>
                </div>
            </div>

        </footer>

    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdn.ons.gov.uk/sdc/0bceacd/scripts/bundle.min.js'></script>

{% endmacro %}