{% macro error(caption=None) %}


    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            {% if caption %}
                <div class="venus">{{ caption|e }}</div>
            {% endif %}
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for message in varargs %}
                    <li>{{ message|e }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>



{% endmacro %}

